aside.main-sidebar
	section.sidebar
		.user-panel
			.pull-left.image
				img(src='/adminlte/dist/img/profile.jpg' alt='User Image').img-circle
			.pull-left.info
				p Rafda Hasna Imamah
				a(href='#')
					i.fa.fa-circle.text-success 
					| Online
		ul.sidebar-menu
			li
				
			li.treeview
				a(href='/menus')
					i.fa.fa-spoon
					span 
						| Halaman Utama
					
			li.treeview
				a(href='#')
					i.fa.fa-spoon
					span 
						| Daftar Menu
					span.pull-right-container
						i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='/category/paket')
							i.fa.fa-spoon
							|  Paket
					li
						a(href='/category/sup')
							i.fa.fa-spoon
							|  Sup
					li
						a(href='/category/seafood')
							i.fa.fa-spoon
							|  Seafood
					li
						a(href='/category/makanan')
							i.fa.fa-spoon
							|  Sayur
					li
						a(href='/category/minuman')
							i.fa.fa-spoon
							|  Minuman
					li
						a(href='/category/snack')
							i.fa.fa-spoon
							|  Snack